<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guess The Number.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97408C461D7FB07400C468B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97408C5D1D7FB07400C468B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97408C681D7FB07400C468B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
